= message_block :on => [:user]

%h1 Create a new user account:

=form_for @user do |f|
  %p
    %label{:for=>"firstName"}
    First Name
  = f.text_field :firstName

  %p
    %label{:for=>"lastName"}
    Last Name
  = f.text_field :lastName

  %p
    %label{:for=>"email"}
    Email
  = f.text_field :email
  -#= f.fields_for :roles_users do |role_form|
    -#%p=label for="role_id"
      -#Database access role
      -#%br/
      -#= role_form.collection_select(:role_id, @roles, :id, :name)%>  
  %p= f.submit 'Add User'
%p= link_to("Back", users_path)
%script{:type=>'text/javascript'}
  document.getElementById('first_name').focus()
