-#= error_messages_for :user
:javascript
  function check_policy(){
    cb_count = 0
    for(var i = 1; i<10; i++){
      cb = document.getElementById("user_cb_cb"+i)
      if(cb.checked){cb_count++}
    }
    if (cb_count == 9){return true}
    else{alert("Please check all the checkboxes to signify your agreement to comply with the CCStB Privacy Policy"); return false}
  }
  
  function check_user_info(){
    if(document.getElementById('user_login').value.length < 5){alert('Please enter a login name longer than 5 letters')}
    else if(document.getElementById('user_email').value.length < 9 ){alert('Please enter a legitimate email address')}
    else if(document.getElementById('user_password').value.length < 6){alert('Please select a password longer than 6 characters')}
    else if(document.getElementById('user_password_confirmation').value != document.getElementById('user_password').value){alert('The two password fields don\'t match')}
    else{
      document.getElementById('user_info').style.display = 'none'
      document.getElementById('privacy_policy').style.display = ''
      }
  }

= form_for :user, :url => {:action=>:activate, :activation_code=>session[:activation_code], :method=>:post}, :html=>{:onsubmit=>"return check_policy()"} do |f| 
  #user_info
    %h1 
      Welcome 
      = "#{@user.firstName} #{@user.lastName}"
      to the CCStB Database
    %p
      %label{:for => "login" }
      Select a login name:
    = f.text_field :login

    %p
      %label{:for => "email" }
      Your email address:
    = f.text_field :email

    %p
      %label{:for => "password" }
      Select a login password:
    = f.password_field :password

    %p
      %label{:for => "password_confirmation" }
      Re-enter your password to confirm:
    = f.password_field :password_confirmation

    %p
      = button_to_function 'Next step...', "check_user_info()"
  #privacy_policy{:style=>"display:none; width:600px"}
    %h2 Please read the CCStB Privacy Policy and indicate your committment to comply by checking all the checkboxes
    %p Community Center of St. Bernard Database Privacy Policy
    %table
      %tr
        %td{:colspan=>"2"} As a condition of my being granted access to the CCStB database:
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb1 
        %td I agree to treat all client and donor data responsibly and to keep all information secure.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb2 
        %td I understand that client data are private and confidential and that data should be accessed only in the course of my official duties for CCStB.
      %tr
        %td{:colspan=>"2"} When working with the CCStB database and files, I will observe the following guidelines for handling confidential client data:
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb3 
        %td I will not discuss any client information or display it in an environment where it may be viewed or overheard by unauthorized individuals.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb4 
        %td When using the CCStB Database, I will log out of my session if I ever leave my computer for any length of time.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb5 
        %td When printing, photocopying or faxing anything including client information, I will ensure that only authorized personnel will be able to see the output.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb6 
        %td I will store all paper documents in the file cabinet in the CCStB office and will ensure that the cabinet is only accessed by CCStB personnel.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb7 
        %td I will not, without the permission of the Executive Director, remove any client information from the CCStB office, save it on removable media or my personal computer, or send this information via instant message or unsecured file transfer.
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb8 
        %td I recognize that violations of this policy are a serious matter that can result in the suspension of my access to the database and other disciplinary measures. 
      %tr{:valign => 'top'}
        %td= check_box "user[cb]", :cb9 
        %td I understand that client information is private and confidential, and I will work to the best of my ability to preserve this privacy and confidentiality – and our clients’ trust – throughout my time with CCStB.
    %p= submit_tag 'Sign up'
%script{:type=>'text/javascript'}
  document.getElementById('user_login').focus()
